.bg_features {
  top: 5.4vw;
  pointer-events: none;
}

.features {
  position: relative;
  width: 100%;
  height: 106.0938vw;

  &__product,
  &__work,
  &__skills {
    display: flex;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;
  }

  &__image-1 {
    position: absolute;
    width: 51.4063vw;
    right: 0;
    transform: translateY(7.9687vw);
  }

  &__image-2 {
    position: absolute;
    width: 48.5156vw;
    transform: translateY(5.9375vw);
    left: 0;
  }

  &__image-3 {
    position: absolute;
    width: 51.4844vw;
    transform: translateY(3.6vw);
    right: 0;
  }

  &__title {
    margin-bottom: 1.4063vw;
  }

  &__description {
    line-height: 1.9531vw;
    font-size: 1.0625rem;
    margin-bottom: 2.5781vw;

    &-skills {
      line-height: 1.9531vw;
      font-size: 1.0625rem;
      margin-bottom: 3.0078vw;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-product {
      width: 100%;
      padding: 4.7188vw;
      transform: translateX(7.625vw) translateY(7.1563vw);
    }

    &-work {
      width: 100%;
      padding: 4.7188vw;
      transform: translateX(-1.1979vw) translateY(7.1354vw);
    }

    &-skills {
      width: 100%;
      padding: 4.7188vw;
      transform: translateX(7.6563vw) translateY(4.9062vw);
    }
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.4063vw;
    text-transform: uppercase;
    width: 16.4063vw;
    height: 4.1406vw;
    cursor: pointer;
    background-image: url('../assets/img/about_button-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      background-image: url('../assets/img/about_button.svg');
    }
  }
}
